<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>

<body>
<div class="container">

    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/search.ejs') %>
    
    <h1 class="latest">Latest Blogs</h1>
    <div class="carousel">
        <div class="carousel-slider">
            <% for(let i = 0; i < (blogs.length - 1); i++) { %>
                <div class="img">
                    <img src="<%= blogs[i].hero %>" >
                    <div class="caption">
                        <a href="/blogs/<%= blogs[i]._id %>"> <%= blogs[i].title %> </a>
                        <h2> <%= blogs[i].snippet %> </h2>
                    </div>
                </div>
            <% } %>
            
        </div>
        <button id="previous-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.427 3.021h-7.427v-3.021l-6 5.39 6 5.61v-3h7.427c3.071 0 5.561 2.356 5.561 5.427 0 3.071-2.489 5.573-5.561 5.573h-7.427v5h7.427c5.84 0 10.573-4.734 10.573-10.573s-4.733-10.406-10.573-10.406z"/></svg></button>
        <button id="next-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10.573 3.021h7.427v-3.021l6 5.39-6 5.61v-3h-7.427c-3.071 0-5.561 2.356-5.561 5.427 0 3.071 2.489 5.573 5.561 5.573h7.427v5h-7.427c-5.84 0-10.573-4.734-10.573-10.573s4.733-10.406 10.573-10.406z"/></svg></button>
        
        <div class="slider-dots">

        </div>
    </div>
    <div id="blog-card-sect">
        <div id="backboard">
        </div>
        <section class="blog-card-sect">
        <% if(blogs.length > 0) {                                           %>
            <% blogs.forEach(blog => {                                      %>
                <% let mimetype = blog.hero[0]['mimetype']                  %>
                <% let base64 = blog.hero[0]['base64']                      %>
                <div class="blog-card">
                    <% if(blog.category === 'Xbox') { %>
                    <div style="background: green; display: flex; align-items: center; justify-content: center;" class="category">
                        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/xbox.png"/>
                    </div>
                    <% } %>
                    <% if(blog.category === 'Playstation') { %>
                    <div style="background: blue; display: flex; align-items: center; justify-content: center;" class="category">
                        <img src="https://img.icons8.com/ios-glyphs/30/ffffff/play-station.png"/>
                    </div>
                    <% } %>
                    <% if(blog.category === 'Nintendo') { %>
                    <div style="background: red; display: flex; align-items: center; justify-content: center;" class="category">
                        <img src="https://img.icons8.com/ios-filled/30/ffffff/nintendo.png"/>
                    </div>
                    <% } %>
                    <% if(blog.category === 'PC') { %>
                    <div style="background: black; display: flex; align-items: center; justify-content: center;" class="category">
                        <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/30/ffffff/external-pc-tower-devices-flatart-icons-outline-flatarticons.png"/>
                    </div>
                    <% } %>
                    <div style="background: url()" class="bc-img-div">
                    <img class="blog-card-img" src=<%= blog.hero %> alt="poster">
                    </div>
                    <h3 class="blog-card-title"><%= blog.title %></h3>
                    <!-- <p class="blog-card-snippet"><%= blog.snippet %></p> -->
                    <p class="blog-card-body"><%= blog.blogSect1%></p>
                    <a href="blogs/<%= blog._id%>" class="blog-card-btn">read more</a>
                </div>
            <% }) %>
        <% } %>
        </section>
    </div>
    <p class="button-holder">
        <a href="/blogs">&#129122; Go to blogs</a>
    </p>

    <!-- timestamp code to convert video length from seconds to hh:mm:ss format -->
    <% function timeStampLogic(val) { %>
        <% if ( Math.floor( val / 60 ) > 59 ) { %>
            <% return `${ Math.floor( val / 60 / 60 ) }:${ Math.floor( val / 60 % 60 ) < 10 ? "0" + Math.floor( val / 60 % 60 ) : Math.floor( val / 60 % 60 ) }:${ Math.floor( val % 60 ) < 10 ? "0" + Math.floor( val % 60 ) : Math.floor( val % 60 )}`; %>
        <% } else { %>
            <%  return `${ Math.floor( val / 60) }:${ Math.floor( val % 60) < 10 ? "0" + Math.floor( val % 60 ) : Math.floor( val % 60 ) }`; %>
        <% } %>
    <% } %>


    <div class="latest-videos">
        <h1 class="latest">Latest Shows & Videos</h1>
    
        <div id="video-card-sect">
            <div id="backboard">
            </div>
            <section class="video-card-sect">
            <% if(videos.results.length > 0) {                                           %>
                <% videos.results.forEach(video => {                                      %>
                    <a href="<%= video.embed_player %>" target="_blank" rel="noopener">
                        <div class="video-card">
                            <div class="vid-img">
                                <img class="vid-poster" src=<%= video.image.screen_url %> alt="poster">
                                <span class="timestamp"><%= timeStampLogic(video.length_seconds) %></span>
                            </div>
                            <div class="vid-dets">
                                <span class="vid-icon" style="
                                    <% if (video.video_show) { %>
                                        background: url(<%= video.video_show.image.icon_url %>); background-size: 40px;
                                    <% } else { %>
                                
                                    <% } %>
                                "></span>
                                <p class="vid-name"><%= video.name %></p>
                            </div>
                            <p class="show-title">
                                <% if (video.video_show) { %>
                                    <%= video.video_show.title %>
                                    <% } else { %>
                                
                                <% } %>
                            </p>
                            <p class="publish-date"><%= video.publish_date %></p>
                        </div>
                    </a>
                <% }) %>
            <% } %>
            </section>
        </div>
        <p class="button-holder">
            <a href="/videos">&#129122; Go to videos</a>
        </p>
    </div>

    

    <% function populatePlats(arr) { %>
        <% let code = "fab" %>
        <% let newArr = arr.map((item, i) => { %>
            <% switch (item.toLowerCase()) {
                case "pc": %>
                    <% item = ""
                    code = "desktop-pc" %>
                    <% break;
                case "nintendo": %>
                    <% item = ""
                    code = "nintendo-icon" %>
                    <% break;
                default: %>
                    <% item = item;
                    code = "fab" %>
                    <% break; %>
            <% } %>
            <% return `<i class="${code} fa-${item.toLowerCase()} platform-icons"></i>` %>
        <% }).join(""); %>
        <% return newArr %>
    <% } %>

<!-- calculate inner star width -->
<% function innerWidth (val, maxVal) { %>
    <% return `${(val / maxVal) * 100}` %>
<% } %>




    <div class="latest-games">
        <h1 class="latest">Newest Game Releases</h1>
        
        <div id="review-card-sect">
            <div id="backboard">
            </div>
            <section class="review-card-sect">
            <% if(games.results.length > 0) { %>
                <% games.results.forEach(game => { %>
                    <% let platsArray = []; %>
                    <% game.parent_platforms.forEach(p => platsArray.push(p.platform.name)) %>

                    <div class="review-card">
                        <img src="<%=game.background_image%>" alt="game-image">
                        <div class="info-box">
                            <h3><%=game.name%></h3>
                            <div class="platforms"><span>Platforms:</span> <%- populatePlats(platsArray) %></div>
                            <div class="rating">
                                <span>Rating:</span> 
                                <% if (game.rating_top >= 4) { %>
                                    <span class="outer-stars">
                                        <span class="inner-stars" style="width: <%= innerWidth(game.rating, game.rating_top) %>%;">
                                        </span>
                                     </span>
                                     <span class="rating-details">
                                        <%= game.rating %>/<%= game.rating_top %>
                                     </span></div>
                                <% } else { %>
                                    <span class="rating-details">
                                        N/A
                                     </span></div>
                                <% } %>
                            <div class="released">
                                <span>Released:</span> <%=game.released %>
                            </div>
                        </div>
                        <div class="mc-box">
                            <div class="mc-score"><%= game.metacritic %></div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
            </section>
        </div>
        <p class="button-holder">
            <a href="/reviews">&#129122; Go to reviews</a>
        </p>
    </div>
    
</div>

<%- include('./partials/footer.ejs') %>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="functions.js"></script>

<!-- blog card script -->
<script>
     let imgDiv = document.querySelectorAll('.bc-img-div'); 
     let img = document.querySelectorAll('.blog-card-img'); 
     img.forEach((img) => {
         img.parentElement.style.background = `url(${img.src})`;
         img.parentElement.style.backgroundSize = `160%`;
         img.parentElement.style.backgroundPosition = "center center";
         if(img.clientWidth > img.clientHeight) {
             return img.style.width = '100%'; img.style.height = '100%';
         }
         if(img.clientHeight > img.clientWidth) {
            return img.style.height = '100%'; img.style.width = '100%';
         }
     });
</script>

<!-- slideshow script -->
<script>
    //carousel logic
const carouselSlider = document.querySelector(".carousel-slider");
const carouselSlides = Array.from(document.querySelectorAll(".carousel .carousel-slider .img"));
const prevBtn = document.querySelector("#previous-btn");
const nextBtn = document.querySelector("#next-btn");
const sliderDotsBox = document.querySelector(".slider-dots");
let current = 0;
let slideShowID;
let slideShowID2;

//create slider dots
for (let i = 0; i < carouselSlides.length; i++) {
    sliderDot = document.createElement('div');
    sliderDot.classList.add('slider-dot');
    sliderDot.setAttribute('data-index', `${i+1}`)
    sliderDotsBox.appendChild(sliderDot);
}

//carousel functions
function reset(arr, arr2) {
    for(let i = 0;i < arr.length; i++) {
        arr[i].style.visibility = "hidden";
        arr[i].style.transition = "all 2000ms cubic-bezier(1, 0.01, 0, 1)";
        arr2[i].classList.remove('active');
    }
}
function initSlides(arr, arr2) {
    reset(arr, arr2);
    arr[0].style.visibility = "visible";
    arr[0].style.transform = "translateX(0)";
    arr2[0].classList.add('active');
}

function nextSlide() {
    clearInterval(slideShowID);
    carouselSlides.forEach((slide) => {
        slide.style.transform = "translateX(-100%)";
    })
    if (current === (carouselSlides.length - 1)) {
        current = -1;
    }
    reset(carouselSlides, sliderDotsBox.children);
    carouselSlides[current + 1].style.visibility = "visible";
    carouselSlides[current + 1].style.transform = "translateX(0)";
    sliderDotsBox.children[current + 1].classList.add('active');
    current++;
    slideShowID = setInterval(slideShow, 7000);
}

function prevSlide() {
    clearInterval(slideShowID);
    reset(carouselSlides, sliderDotsBox.children);
    carouselSlides.forEach((slide) => {
        slide.style.transform = "translateX(100%)";
    })

    if (current === -1 || current === 0) {
        current = carouselSlides.length - 1;
        carouselSlides[current].style.visibility = "visible";
        carouselSlides[current].style.transform = "translateX(0)";
        sliderDotsBox.children[current].classList.add('active');
    }
    else {
        carouselSlides[current - 1].style.visibility = "visible";
        carouselSlides[current - 1].style.transform = "translateX(0)";
        sliderDotsBox.children[current - 1].classList.add('active');
        current--;
    }
    slideShowID = setInterval(slideShow, 7000);
}

function slideShow() {
    carouselSlides.forEach((slide) => {
        slide.style.transform = "translateX(-100%)";
    })
    if (current === (carouselSlides.length - 1)) {
        current = -1;
    }
    reset(carouselSlides, sliderDotsBox.children);
    carouselSlides[current + 1].style.visibility = "visible";
    carouselSlides[current + 1].style.transform = "translateX(0)";
    sliderDotsBox.children[current + 1].classList.add('active');
    current++;
}

// function resetSliderDots() {
//     for(let i = 0;i < sliderDotsBox.children.length;i++) {
//         sliderDotsBox.children[i].classList.remove('active');
//     }
// }

//carousel slideshow
slideShowID = setInterval(slideShow, 7000);


const sliderDots = [...sliderDotsBox.children];
sliderDots.forEach((sliderDot) => {
    sliderDot.addEventListener('click', (e) => {
        clearInterval(slideShowID);
        carouselSlides[current].style.transform = "translateX(-100%)";
        reset(carouselSlides, sliderDotsBox.children);
        current = ((e.target.dataset.index) - 1);
        carouselSlides[current].style.visibility = "visible";
        carouselSlides[current].style.transform = "translateX(0)";
        sliderDotsBox.children[current].classList.add('active');
        slideShowID = setInterval(slideShow, 7000);
    })
});

//carousel event listeners
initSlides(carouselSlides, sliderDotsBox.children);
nextBtn.addEventListener('click', nextSlide);
prevBtn.addEventListener('click', prevSlide);
</script>

</body>
</html>
